.achievements{
    .heading{
        margin-bottom: 0;
        @include media-query(992px) {
            margin-bottom: 48px;
        }
    }
    .achievement-box{
        text-align: center;
        @include media-query(767px) {
            margin-bottom: 48px;
        }
        h3{
            font-weight: 700;
            font-size: 61px;
            line-height: 120%;
            text-align: center;
            letter-spacing: -0.04em;
            color: $accent-1;
            margin-bottom: 1.5px;           
        }
        p{
            font-size: 21px;
            color: $gray-4;
            margin-bottom: 0;
        }
    }
}