.process{
    .process-steps{
        .light-circle{
            display: inline-block;
            position: relative;
            padding: 107px;
            padding-left: 0;
            &::before{
                width: 30px;
                height: 30px;
                background: $gray-2;
                border-radius: 100px;
                content: '';
                position: absolute;
                top: -8.5px;
                right: 52%;
            }
            &::after{
                width: 30px;
                height: 30px;
                background: $gray-2;
                border-radius: 100px;
                content: '';
                position: absolute;
                bottom: -8.5px;
                right: 52%;
            }
            .main-circle{
                position: absolute;
                height: 100%;
                width: 55%;
                overflow: hidden;
                right: 0;
                top: 0;
                &::before{
                    content: '';
                    position: absolute;
                    right: 0;
                    width: 948px;
                    height: 100%;
                    border: 10px solid $gray-2;
                    border-radius: 948px;
                }
                
            }
            .middle-circle{
                width: 632px;
                height: 632px;
                box-shadow: 63.746px 63.746px 35.7364px rgba(0, 0, 0, 0.01), 35.7364px 35.7364px 30.9072px rgba(0, 0, 0, 0.04), 16.4194px 16.4194px 22.2145px rgba(0, 0, 0, 0.07), 3.86339px 3.86339px 12.556px rgba(0, 0, 0, 0.08), 0px 0px 0px rgba(0, 0, 0, 0.08);
                border-radius: 50%;
                padding: 62px;
                @include media-query(1399px) {
                    width: 540px;
                    height: 540px;
                }
                .small-circle{
                    border-radius: 50%;
                    width: 100%;
                    height: 100%;
                    display: grid;
                    place-content: center;
                    box-shadow: 63.746px 63.746px 35.7364px rgba(0, 0, 0, 0.01), 35.7364px 35.7364px 30.9072px rgba(0, 0, 0, 0.04), 16.4194px 16.4194px 22.2145px rgba(0, 0, 0, 0.07), 3.86339px 3.86339px 12.556px rgba(0, 0, 0, 0.08), 0px 0px 0px rgba(0, 0, 0, 0.08);
                    h4{
                        font-weight: 700;
                        font-size: 61px;
                        line-height: 120%;
                        text-align: center;
                        letter-spacing: -0.04em;
                        color: #1B1C1E;
                        margin: 0;
                    }
                }
            }

        }
    }
    .content{
        .step-box{
            position: relative;
            margin-left: -140px;
            margin-bottom: 84px;
            @include media-query(1399px) {
                margin-left: -118px;
            }
            @include media-query(1199px) {
                margin-left: 0px;
                margin-bottom: 48px;
            }
            &:nth-child(2){
                margin-bottom: 105px;
                margin-left: 35px;
                .content-box{
                    padding-left: 90px;
                    @include media-query(1199px) {
                        padding-left: 70px;
                    }
                }
                @include media-query(1199px) {
                    margin-left: 0px;
                    margin-bottom: 48px;
                }
            }
            &:nth-child(3){
                margin-bottom: 90px;
                margin-left: 35px;
                @include media-query(1399px) {
                    margin-bottom: 60px;
                }
                @include media-query(1199px) {
                    margin-left: 0px;
                }
                .content-box{
                    padding-left: 90px;
                    @include media-query(1199px) {
                        padding-left: 70px;
                    }
                }
                 
            }
            &:nth-child(4){
                margin-bottom: 0px;
            }
            .number-box{
                position: absolute;
                left: 0;
                top: 42px;
                text-align: center;
                @include media-query(1199px) {
                    left: 15px;
                    top: 0;
                }  
                span{
                    width: 65px;
                    height: 65px; 
                    font-weight: 700;
                    font-size: 47px;
                    line-height: 120%;
                    padding: 0 3px 5px;
                    text-align: center;
                    background: $gray-1;
                    color: $black-1;
                    border: 5px solid $accent-1;
                    border-radius: 50%;
                    @include media-query(1199px) {
                        width: 50px;
                        height: 50px; 
                        font-size: 36px;
                    }  
                }
            }
            .content-box{
                padding-left: 180px;
                @include media-query(1199px) {
                    padding-left: 70px;
                }  
                h6{
                    font-weight: 700;
                    font-size: 27px;
                    line-height: 130%;
                    letter-spacing: -0.02em;
                    color: $black-1;
                    margin-bottom: 16px;
                }
                p{
                    margin-bottom: 0;
                    color: $gray-4;
                    overflow: hidden;
                    display: -webkit-box;
                    -webkit-line-clamp: 4;
                            line-clamp: 4; 
                    -webkit-box-orient: vertical;
                    @include media-query(1399px) {
                        -webkit-line-clamp: 3;
                                line-clamp: 3; 
                    }
                    @include media-query(1199px) {
                        -webkit-line-clamp: 6;
                                line-clamp: 6; 
                    }
                    br{
                        @include media-query(1199px) {
                            display: none; 
                        }                 
                    }
                }
            }
        }
    }
}