.services{
    
    .service-block{
        position: relative;
        margin-bottom: clamp(40px, 3.125vw, 84px);
        display: flex;
       
        align-items: flex-start;
        gap: clamp(12px, 0.83vw, 20px);
        .bgimg{
            margin-left: 80px;
            @include media-query(1199px) {
                margin: auto;
            }
            @include media-query(767px) {
                margin: auto;
                
            }
            @include media-query(492px) {
                margin: auto;
            }
        }

        &:last-child{
            margin-bottom: 0;
        }
        .icon{
            width: (36px, 2.5vw, 64px);
            height: (36px, 2.5vw, 64px);
            flex-shrink: 0;
        }
        .content{
            position: relative;
            a{
                font-weight: 400;
                font-size: clamp(24px, 1.875vw, 48px);
                line-height: 120%;
                letter-spacing: -0.03em;
                color: $black-1;
                margin-bottom: 16px;
            }
            p{
                color: $gray-4;
                margin-bottom: 0;
            }

        }
        
    }
    &.ls-ser{
       
        .service-block .bgimg{
            padding-top: 30px;
            margin: 0;
            align-content: left center;
            position: relative;
            
           
        }
        img{
           
            margin-right: 20px;
            margin-top: 40px;
        }
        .sr-txt{
            padding-left: 60px;
            align-content: right;
            @include media-query(1199px) {
                margin: auto;
                padding: 20px;
            }
            @include media-query(767px) {
                margin: auto;
                padding: 20px;
                
            }
            @include media-query(492px) {
                margin: auto;
                padding: 20px;
            }
        }
        .container{
            margin-bottom: -50px;
            
        }
        
    }
}
.container-fluid{
    padding: 0;
    margin-bottom: 10px;
    .row {
        margin-right: 0;
        margin-left: 0;
    }
    
    .row > .col-md-06 {
        padding-right: 0;
        padding-left: 0;
    }
   .bg-primary{
        height: 80vh;
        background-image: url(../media/services/it-web.jpg);
        background-size: cover;
        background-position:center;
        background-repeat: no-repeat; 
        @include media-query(1199px) {
            height: 80vh;
        }
        @include media-query(767px) {
            height: 60vh;
            background-size: contain;
            width: 100%;
            
            
        }
        @include media-query(492px) {
            height: 45vh;
            background-color: none;
            width: 100%;
            background-size: contain;
           
        }
   }
    .bg-secondary{
        height: 80vh;
        padding: 100px;
        align-content: center;
        p{
            text-align: justify;
        }
       
        background-color: rgb(225, 224, 222) !important;
        @include media-query(1199px) {
        
            padding: 30px;
           
        }
        @include media-query(767px) {
            
            padding: 30px;
           
        }
        @include media-query(492px) {
            padding: 30px;
            overflow: hidden;
           
        }
    }
}
.box-2{
    padding: 0;
    margin-bottom: 40px;
    .row {
        margin-right: 0;
        margin-left: 0;
    }
    
    .row > .col-md-06 {
        padding-right: 0;
        padding-left: 0;
    }
   .bg-primary{
        height: 80vh;
        background-image: url(../media/services/stf.jpg);
        background-size: cover;
        background-position:center;
        background-repeat: no-repeat; 
        @include media-query(1199px) {
            height: 80vh;
        }
        @include media-query(767px) {
            height: 80vh;
            width: 100%;
            float: left;
            
        }
        @include media-query(492px) {
            height: 45vh;
            background-color: none;
            width: 100%;
            background-size: contain;
        }
   }
    .bg-secondary{
        height: 80vh;   
        padding: 100px;
        
        align-content: center;
        p{
            text-align: justify;
        }
       
        background-color: rgb(193, 216, 231) !important;
        @include media-query(1199px) {
        
            padding: 30px;
           
        }
        @include media-query(767px) {
            
            padding: 30px;
           
        }
        @include media-query(492px) {
            padding: 30px;
           
        }
    }
}

.box-3{
    padding: 0;
    margin-bottom: 0;
    .row {
        margin-right: 0;
        margin-left: 0;
    }
    
    .row > .col-md-06 {
        padding-right: 0;
        padding-left: 0;
    }
   .bg-primary{
        height: 80vh;
        background-image: url(../media/services/cyb.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat; 
        @include media-query(1199px) {
            height: 80vh;
        }
        @include media-query(767px) {
            height: 80vh;
            width: 100%;
            float: left;
            
        }
        @include media-query(492px) {
            height: 45vh;
            background-color: none;
            width: 100%;
            background-size: contain;
        }
   }
    .bg-secondary{
        height: 80vh;   
        padding: 100px;
        
        align-content: center;
        p{
            text-align:left;
        }
       
        background-color: rgb(243, 239, 207) !important;
        @include media-query(1199px) {
        
            padding: 30px;
           
        }
        @include media-query(767px) {
            
            padding: 30px;
           
        }
        @include media-query(492px) {
            padding: 30px;
           
        }
    }
}

.box-4{
    padding: 0;
    margin-bottom: 0;
    .row {
        margin-right: 0;
        margin-left: 0;
    }
    
    .row > .col-md-06 {
        padding-right: 0;
        padding-left: 0;
    }
   .bg-primary{
        height: 80vh;
        background-image: url(../media/services/cld.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat; 
        @include media-query(1199px) {
            height: 80vh;
        }
        @include media-query(767px) {
            height: 80vh;
            width: 100%;
            float: left;
            
        }
        @include media-query(492px) {
            height: 45vh;
            background-color: none;
            width: 100%;
            background-size: contain;
        }
   }
    .bg-secondary{
        height: 80vh;   
        padding: 100px;
        
        align-content: center;
        p{
            text-align:left;
        }
       
        background-color: rgb(209, 255, 240) !important;
        @include media-query(1199px) {
        
            padding: 30px;
           
        }
        @include media-query(767px) {
            
            padding: 30px;
           
        }
        @include media-query(492px) {
            padding: 30px;
           
        }
    }
}
.benefits{
    

    .cl1{
       
        border-radius: 10px;
        padding: 15px;
       
        background-color: #8257ef;
    }
    .cl2{
        padding: 15px;
        border-radius: 10px;
        background-color: #7ba004;
    }
    .cl3{
        padding: 15px;
        border-radius: 10px;
        background-color: #fa524d;
    }
    .cl4{
        padding: 15px;
        border-radius: 10px;
        background-color:#034941;
    }
}