.services{
    
    .service-block{
        position: relative;
        margin-bottom: clamp(40px, 3.125vw, 84px);
        display: flex;
        align-items: flex-start;
        gap: clamp(12px, 0.83vw, 20px);
        &:last-child{
            margin-bottom: 0;
        }
        .icon{
            width: (36px, 2.5vw, 64px);
            height: (36px, 2.5vw, 64px);
            flex-shrink: 0;
        }
        .content{
            position: relative;
            a{
                font-weight: 400;
                font-size: clamp(24px, 1.875vw, 48px);
                line-height: 120%;
                letter-spacing: -0.03em;
                color: $black-1;
                margin-bottom: 16px;
            }
            p{
                color: $gray-4;
                margin-bottom: 0;
            }

        }
        .bgimg{
            display: block;
            position: relative;
            text-align: center;
            margin-top: -90px;
            margin-left: 60px;
            @include media-query(767px) {
                margin: auto;
            }
            @include media-query(492px) {
                margin:auto;
            }
           
        }   
    }
    &.ls-ser{
        
        background: #141414;
        background-image: url(../media/about/expr.png);
        background-size: cover;
        background-position: left;
        background-repeat: no-repeat; 
        .container{
            margin-bottom: -50px;
        }
        .list1 li{
           
            color: aliceblue;
        }
    }
}